.container__accounts {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
    padding: 15px;
    width: 70%;
    height: 80%;
    left: 15%;
    top: 10%;
}
.container__options {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}
.container__options__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #fff;
    text-decoration: none;
    align-items: baseline;
    margin-bottom: 70px;
}
.container__options__item:hover {
    filter: drop-shadow(2px 2px 5px #3171c7);
}
.icon {
    margin-right: 50px;
    width: 45px;
}
.item__text {
    font-size: 40pt;
}