.remove_account__buttons {
    margin-right: 15px;
    width: 135px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 19pt !important;
    border-radius: 15px;
}